


img {
    max-height: 120px;
    min-height: 120px;
}

h2{
    margin-top: 16px;
}

.row{
    padding-bottom: 15px;
}

.card-body{
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
}

input{
    padding: 2.5px;
}

.añadir{
    margin-left: 35px;
    margin-bottom: 5px;
}

.vermas{
    margin-bottom: 5px;
}