
   

  .img-catalogo-fondo{
    background-image: url('/assets/main-fondo.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    overflow: scroll;
       

  }